body {
  background: url("https://fondosmil.com/fondo/54336.png");
  background-size: cover;
}
p {
  color: blueviolet;
  font-size: 35px;
  background-color: white;
}
/* id de título */
#titulo-principal {
  color: yellowgreen;
}
/*Este es un comentario*/
/*CLASES*/
.clase-li {
  color: hotpink;
}
.clase-li-2 {
  font-size: 25px;
  font-weight: bold;
}
.clase-p {
  color: orangered;
}
.clase-titulo {
  font-size: 100px;
  color: orange;
  background-color: rgb(25, 161, 252);
}

/*ID's*/
#lista-del-super {
  background-color: blue;
  color: white;
}
#elemento1 {
  font-size: 45px;
  text-transform: uppercase;
  font-style: italic;
}
#parrafo2 {
  color: green;
}
#imagen1 {
  height: 200px;
}
.clase-anidada {
  background-color: purple;
}
/*Selectores Avanzados*/
.clase-div .clase-ul .clase-anidada {
  background-color: yellow;
}
