body {
  background-color: rgb(183, 208, 253);
}
p {
  color: blueviolet;
  font-size: 35px;
  background-color: white;
}
/*Este es un comentario*/
/*CLASES*/
.clase-li {
  color: hotpink;
}
.clase-li-2 {
  font-size: 25px;
  font-weight: bold;
}
.clase-p {
  color: orangered;
}

/*ID's*/
#lista-del-super {
  background-color: blue;
  color: white;
}
#elemento1 {
  font-size: 45px;
  text-transform: uppercase;
  font-style: italic;
}
#parrafo2 {
  color: green;
}
